#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

#headerInnerContent{
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
   
    
}

.serviceText{
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
   
    
}



h1{
    text-align: center;
}
h2{
    margin-top: 70px;
    text-align: center;
    
}
p{
    text-align: center;
}
#miniP{
    font-size: 10px;
}
.portfolio1{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.portfolioRow2{
    margin-top: 10px;
}
.portfolioImage{
    margin: 5px;
}
#head{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size:cover;
    background-attachment:scroll;
    color: white;
    
    height:700px;
    
    
}
#service{
    margin-top: 70px;
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size:cover;
    background-attachment:scroll;
    
    color:white;
    
    
    height: 300px;
    
    
}
body{

    margin: 20px;

}
#frmContactUs{
    margin-top: 100px;
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-size: cover;
    color: white;
    height: 500px;
}
#fmText{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 3px 0;
    
}
.pWhatWedo{
    display: none;
}
 

.col-md-3 img{
    max-width: 100%;
    max-height: 100%;
  }

  input[type=text],input[type=email],#message{
    background: transparent;
    color: white;
    
    
  }
  #submit{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

  }

  #portfolioImageContainer1,#portfolioImageContainer2,#portfolioImageContainer3,#portfolioImageContainer4,#portfolioImageContainer5,#portfolioImageContainer6,#portfolioImageContainer7,#portfolioImageContainer8
   {
    position: relative;
    color: #333;
  }

 
   

  #hoverTextContainer1,#hoverTextContainer2,#hoverTextContainer3,#hoverTextContainer4,#hoverTextContainer5,#hoverTextContainer6,#hoverTextContainer7,#hoverTextContainer8{
    display: none;
	
	background-color:rgba(255, 255, 255, 0.456);
    top:5%;
    bottom:65%;
    left:7%;
    right:45%;
	position: absolute;
	bottom: 0px;
	
  }




  .footer {
    margin-top: 80px;
    color: black;
    justify-content: center;
    text-align: center;
    font-size: x-small;
  }



